version: '3.8'

services:
  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto_pro
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log
    restart: always

  nodered:
    image: nodered/node-red:latest
    container_name: nodered_pro
    ports:
      - "1880:1880"
    volumes:
      - node_red_data:/data
    environment:
      - TZ=Asia/Kolkata
    depends_on:
      - mosquitto
    restart: always

volumes:
  mosquitto_data:
  mosquitto_log:
  node_red_data: